# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.whl

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Pytest
.pytest_cache/

# Django stuff:
*.log
*.pot
*.pyc

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy/

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# IDEs and editors
.idea/
.project
.pydevproject
*.sublime-project
*.sublime-workspace
.vscode/

# macOS files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini

# dotenv files
.env
.env.*

# Secrets
*.key
*.pem

# Poetry
poetry.lock

# Other files
*.pyo
*.~ 

